<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Layout</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- nav section  -->
    <div class="nav-container">
        <div class="header-area">
        <div>
            <img src="images/shurokha.png" alt="shurokha" class="shurokha">
            <img src="images/bangladesh gov.png" alt="shurokha" class="bangladesh">
        </div>
        <!-- nigation bar start -->
        <div class="navigation-parent">
            <div class="navigation">
                <ul>    
                    <li><a href="#">হোম</a></li>
                    <li><a href="#">নিবন্ধন</a></li>
                    <li><a href="#">টিকা কার্ড</a></li>
                    <li><a href="#">টিকা সনদ</a></li>
                    <li><a href="#">টিকা সনদ যাচাই</a></li>
                </ul>
                <button class="button">English</button>
            </div>
        </div>
    </div>
    <!-- second section start -->
    <div class="`second-section">
        <div class="image-second">
            <img src="images/corona.jpg" alt="corona">
            <div class="imgage-third">
                <img src="images/Screenshot_1.png" alt="">
            </div>
            <div class="image-four">
                <img src="images/Screenshot_2.png" alt="">
            </div>
            <div class="image-five">
                <img src="images/Screenshot_3.png" alt="">
            </div>
            <div class="image-six">
                <img src="images/Screenshot_4.png" alt="">
            </div>
            <div class="image-seven">
                <img src="images/Screenshot_5.png" alt="">
            </div>
        </div>
        

    </div>
    </div>
</body>
</html>